#gallery{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
}
.gallery-list-item-image{
    display: block;
}

#gallery li img { 
  max-width: 50%;
  width: auto;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}